{% extends 'layout.html' %} 
{% load static %} 

{% block title %} Graficos {% endblock %}

{% block content %}
<!--Método para crear chart, recibe id del label del porcentaje, nombre de chart, cantidad de si, cantidad de no e id del elemento que contiene el gráfico-->
<script>
  const labels = [
      'Con servicio',
      'Sin servicio',
    ];

  function setChart(label,chartName,yes,no,element) {
    por = "El "+Math.round(yes*100/(yes+no)).toFixed(2)+"% de los Starbucks cuentan con este servicio";
    document.getElementById(label).textContent = por;
      var y = {
      labels: labels,
      datasets: [{
        label: chartName,
        backgroundColor: [
        'rgb(110, 143, 121)',
        'rgb(214, 157, 96)',
        'rgb(181, 180, 123)',
        ],
        data: [yes,no],
      }]
    };

      const config = {
        type: 'doughnut',
        data: y,
        options: {}
      };

      const myChart = new Chart(
          document.getElementById(element),
          config
      );
    };

</script>

<div class="card" style="float: left;">
    <div class="container">
        <h4>Servicio 24/7</h4> 
        <p id="p1"></p> 
    </div>
    <div>
        <canvas id="myChart1"></canvas>
    </div>
</div>

<div class="card" style="float: left;" >
  <div class="container">
      <h4>Servicio clover brewed</h4> 
      <p id="p2"></p> 
  </div>
  <div>
      <canvas id="myChart2"></canvas>
  </div>
</div>

<div class="card" style="float: left;" >
  <div class="container">
      <h4>Servicio Food</h4> 
      <p id="p3"></p> 
  </div>
  <div>
      <canvas id="myChart3"></canvas>
  </div>
</div>

<div class="card" style="float: left;" >
  <div class="container">
      <h4>Servicio Wifi</h4> 
      <p id="p4"></p> 
  </div>
  <div>
      <canvas id="myChart4"></canvas>
  </div>
</div>

<div class="card" style="float: left;" >
  <div class="container">
      <h4>Servicio Verismo</h4> 
      <p id="p5"></p> 
  </div>
  <div>
      <canvas id="myChart5"></canvas>
  </div>
</div>

<div class="card" style="float: left;" >
  <div class="container">
      <h4>Servicio pago con móvil </h4> 
      <p id="p6"></p> 
  </div>
  <div>
      <canvas id="myChart6"></canvas>
  </div>
</div>

<div class="card" style="float: left;" >
  <div class="container">
      <h4>Servicio DigitalReds </h4> 
      <p id="p7"></p> 
  </div>
  <div>
      <canvas id="myChart7"></canvas>
  </div>
</div>

<div class="card" style="float: left;" >
  <div class="container">
      <h4>Servicio Boulange</h4> 
      <p id="p8"></p> 
  </div>
  <div>
      <canvas id="myChart8"></canvas>
  </div>
</div>

<div class="card" style="float: left;" >
  <div class="container">
      <h4>Servicio Sodas </h4> 
      <p id="p9"></p> 
  </div>
  <div>
      <canvas id="myChart9"></canvas>
  </div>
</div>

<div class="card" style="float: left;" >
  <div class="container">
      <h4>Servicio DriveThru </h4> 
      <p id="p10"></p> 
  </div>
  <div>
      <canvas id="myChart10"></canvas>
  </div>
</div>

<script>
  data1 = setChart('p1','Horas',{{siHoras}},{{noHoras}},'myChart1'); 
  data2 = setChart('p2','Clover',{{siClover}},{{noClover}},'myChart2');   
  data3 = setChart('p3','Food',{{siFood}},{{noFood}},'myChart3'); 
  data4 = setChart('p4','Wifi',{{siWifi}},{{noWifi}},'myChart4'); 
  data5 = setChart('p5','Verismo',{{siVerismo}},{{noVerismo}},'myChart5'); 
  data6 = setChart('p6','MobilePay',{{siMobilePay}},{{noMobilePay}},'myChart6'); 
  data7 = setChart('p7','DigitalReds',{{siDigitalReds}},{{noDigitalReds}},'myChart7'); 
  data8 = setChart('p8','Boulange',{{siBoulange}},{{noBoulange}},'myChart8'); 
  data9 = setChart('p9','Sodas',{{siSodas}},{{noSodas}},'myChart9'); 
  data10 = setChart('p10','DriveThru',{{siDriveThru}},{{noDriveThru}},'myChart10');
</script>
  
{% endblock %}