{% extends 'layout.html' %} 

{% block title %} tittle {% endblock %}

{% block content %}
<!-- Estilo del mapa -->

<style>
    #map {
        width: 100%;
        height: 100vh;
    }
</style>

<!-- Mapa -->
<div class="jumbotron" id="map" style="border-style: solid; border-color: green;"></div>
<div class="prueba">
    <p>
        STARBUCKS
    </p>
    <h1>STARBUCKS</h1>
</div>

<!-- Scrip para el manejo del map -->
<script>
    //Marcador personalizado
    var greenIcon = L.icon({
        iconUrl: 'images/icons/',
        shadowUrl: 'leaf-shadow.png',

        iconSize:     [38, 95], // size of the icon
        shadowSize:   [50, 64], // size of the shadow
        iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
        shadowAnchor: [4, 62],  // the same for the shadow
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });

    coord = [21.172917917932295, -101.7349968862179]

    var map = L.map('map').setView(coord, 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker(coord).addTo(map)
        .bindPopup('MK was here.')
        .openPopup();

</script>

{% endblock %}