{% extends 'layout.html' %} 

{% block title %} tittle {% endblock %}

{% block content %}
<!-- Estilo del mapa -->
<style>
    #map {
        width: 100%;
        height: 100vh;
    }
</style>

<!-- Mapa -->
<form id="elemento" class="form">
    <input id="coord"  value= "{{listaJson}}">
    <input type="button" name="enviar" value="Enviar" onclick="GUARDAMELA();">
</form>
<div class="jumbotron" id="map" style="border-style: solid; border-color: green;"></div>
<p>{{listaJson}}</p>

<!-- Scrip para el manejo del map -->

<script>

     function GUARDAMELA(){

        var laLista =  document.getElementById('coord').value;
        var tam = laLista.length;
        var Mia = JSON.parse(laLista);


        console.log("El tamaño de la cosa: " + tam)
        //console.log(laLista)
        console.log(Mia)
        //.log(laLista[0][1])


        for (let i = 0; i < laLista.length; i++) {
            
           // L.marker([51.5, -0.09], {icon: starbucksIcon}).addTo(map).bindPopup("Hello perro.");
            L.marker([Mia[i]], {icon: starbucksIcon}).addTo(map).bindPopup("Hello perro.");
            console.log("Interno: " + i + " Dato: " + Mia[i]);
        }
    }

   // var listaCoordenadas = JSON.parse("{{listaJson|escapejs}}");

    coord = [21.172917917932295, -101.7349968862179]

    var map = L.map('map').setView(coord, 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var LeafIcon = L.Icon.extend({
        options: {
            //shadowUrl: 'leaf-shadow.png',
            iconSize:     [35, 35],
            /*shadowSize:   [50, 64],
            iconAnchor:   [22, 94],
            shadowAnchor: [4, 62],
            popupAnchor:  [-3, -76]*/
        }
    });

    L.icon = function(options){
        return new L.Icon(options);
    }

    var starbucksIcon = new LeafIcon({iconUrl: '../static/image/starbucks.png'})

    

</script>

{% endblock %}